<% current_user.jobs.uniq.each do |job| %>
  <div class="applied_listing">
    <img class="job_img">
        <h2 class="job_name"><%= job.name %></h2>
        <h3 class="job_lister"><%= job.lister.name %></h3>
        <h4 class="job_distance"><%= job.distance %></h4>
        <p class="job_description"><%= job.description %></p>
      <h5 class="job_price"><%= job.cost %></h5>
      <% if job.kid_applied? %>
        <%= button_to "Accept", application_job_path(job), class: "applied_accept", method: :get %>
      <% elsif job.parent_accepted? %>
        <p> Waiting for feedback </p>
      <% end %>
  </div>
<% end %>