<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @job.name %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Duration:</b>
  <%= @job.duration %>
</p>

<p>
  <b>Cost:</b>
  <%= @job.cost %>
</p>

<p>
  <b>Image:</b>
  <%= @job.image %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>

<h1>Job List</h3>
  <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
  <div class="job_listing">
    <div class="job_post">
      <img class="job_img">
      <div class="job_details">
          <h2 class="job_name">Job Name</h2>
          <h3 class="job_lister">Job Lister</h3>
          <h4 class="job_distance">Job Distance</h4>
          <p class="job_description">Job Description</p>
      </div>
      <button class="job_apply">Apply</button> <!--call pop up-->
      <h5 class="job_price">Job Price</h5>
    </div>
  </div>