<div>
  <%= link_to 'Profile', profile_path %>
  <%= link_to 'Dashboard', me_path %>
  <%= link_to 'Jobs', jobs_path %>
  <%= link_to 'kid Sign out', "/kids/sign_out", :method => :delete %>
  <%= link_to 'adult Sign out', "/adults/sign_out", :method => :delete %>
</div>